@font-face {

    font-family: use-this-font;
    src: url(/Users/dannyschwitalla/repos/AdminDashboard/Roboto/Roboto-Bold.ttf);

}

body {

    font-family: use-this-font;
}






#wholepagecontainer {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;

}





/* Nav bar and all it's components */

#navcontainer {

    border: 5px solid red;
    grid-column: 1;
    grid-row: 1 / 5;
    background-color: lightblue;

    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: repeat(13, 1fr);
    grid-template-areas: 
        "mainlogopicture mainlogowords"
        ". ."
        "homepicture homelogowords"
        "profilepicture profilelogowords"
        "messagespicture messageslogowords"
        "historypicture historylogowords"
        "taskspicture taskslogowords"
        "communitiespicture communitieslogowords"
        ". ."
        "settingspicture settingslogowords"
        "supportpicture supportlogowords"
        "privacypicture privacylogowords"
       
    
}


.navpicture {

    height: 25px;
    width: 25px;
}




.mainlogopicture {

    grid-area: mainlogopicture;
    height: 45px;
    width: 45px;
    justify-self: center;
    align-self: center;

}


.mainlogowords {

    grid-area: mainlogowords;
    font-size: x-large;
    align-self: center;
    padding: 5px;
    
    

}


.homepicture {

    grid-area: homepicture;
    justify-self: center;
    align-self: center;
    

}


.homelogowords {

    grid-area: homelogowords;
    font-size: larger;

}


.profilepicture {

    grid-area: profilepicture;
    justify-self: center;
    align-self: center;

}


.profilelogowords {

    grid-area: profilelogowords;
    font-size: larger;

}


.messagespicture {

    grid-area: messagespicture;
    justify-self: center;
    align-self: center;

}


.messageslogowords {

    grid-area: messageslogowords;
    font-size: larger;


}


.historypicture {

    grid-area: historypicture;
    justify-self: center;
    align-self: center;

}


.historylogowords {

    grid-area: historylogowords;
    font-size: larger;
}


.taskspicture {

    grid-area: taskspicture;
    justify-self: center;
    align-self: center;

}


.taskslogowords {

    grid-area: taskslogowords;
    font-size: larger;
}


.communitiespicture {

    grid-area: communitiespicture;
    justify-self: center;
    align-self: center;

}


.communitieslogowords {

    grid-area: communitieslogowords;
    font-size: larger;

}


.settingspicture {

    grid-area: settingspicture;
    justify-self: center;
    align-self: center;
}


.settingslogowords {

    grid-area: settingslogowords;
    font-size: larger;

}


.supportpicture {

    grid-area: supportpicture;
    justify-self: center;
    align-self: center;

}


.supportlogowords {

    grid-area: supportlogowords;
    font-size: larger;

}


.privacypicture {

    grid-area: privacypicture;
    justify-self: center;
    align-self: center;

}


.privacylogowords {

    grid-area: privacylogowords;
    font-size: larger;
}





/* Header/search section and all it's components */


#headercontainer {

    border: 5px solid blue;
    grid-column: 2 / 6;
    grid-row: 1;

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;

}


.searchbarimage {

    height: 25px;
    width: 25px;
}


#searchbar {

    border-radius: 10px;
}


.profilenotificationsimage {

    height: 25px;
    width: 25px;

}

.activeprofilepictureimage {

    height: 25px;
    width: 25px;

}


.profilegreetingimage {

    height: 25px;
    width: 25px;
}




/* Main content section and all it's components */


#maincontainer {

    background-color: #dce0dd;
    border: 5px solid green;
    grid-row: 2 / 5;
    grid-column: 2 /6;

}